<header class="header">
  <a href="/dashboard" class="header__logo">Bloggeria</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/dashboard" class="">Home</a>
      </li>
      <li>
        <a href="/add-post" class="button">Create Post</a>
      </li>
    </ul>

  </nav>


</header>